
<div *ngIf="loading">
    loading ...
    <div class="loader"></div> 
</div>

<div class="display-4" style="margin: 1em;" >
    In Compleate dash board ....
</div>

<table class="table table-striped" style="border-bottom: 1px solid;">
    <thead>
        <tr>
            <th>Packahe Name</th>
            <th>Package Id</th>
            <th>Make Active</th>
            <th>Make Inactive</th>
            <th>Delete</th>
            <th>Edit</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let package of productArr; let in = index">
            <td>{{package.packageName}}</td>
            <td>{{package.packageId}}</td>
            <td> <input type="radio" [name]='in'> <a>Active</a></td>
            <td> <input type="radio" [name]='in'><a>In Active</a></td>
            <td>  <input type="radio" [name]='in'><a>Delete</a></td>
            <td><a>Edit</a></td>
        </tr>
    </tbody>

</table>

<button style="float: right;margin: 5px;" class="btn btn-danger">Delete</button>
<button style="float: right;margin: 5px;" class="btn btn-warning">In Active</button>
<button style="float: right; margin: 5px;" class="btn btn-success">Active</button>



