<section class="packages" id="packages">
	<div class="container">
		<h3 class="heading header-font">Popular Packages</h3>
		<div class="popular_packages_grids">
			<div class="package_top_grid">
				<div class="col-md-6">
					<div class="packages_left">
						
					</div>
				</div>
				<div class="col-md-6">
					<div class="packages_right">
						<h3>Eiffel Tower</h3>
						<h4>Starts from $135</h4>
						<p>Lorem ipsum dolor sit amet, con sectetur adipiscing elit. Proin sed ligula 
						ac metus finibus hendrerit sed at libero. Praesent reiciendis voluptatibus maiores alias.</p>
						<a href="#">Read More <span class="fa fa-long-arrow-right"></span></a>
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
			
			<div class="package_middle_grid">
				<div class="col-md-6">
					<div class="packages_right packages_right1">
						<h3>London Clock Tower</h3>
						<h4>Starts from $120</h4>
						<p>Lorem ipsum dolor sit amet, con sectetur adipiscing elit. Proin sed ligula 
						ac metus finibus hendrerit sed at libero. Praesent reiciendis voluptatibus maiores alias.</p>
						<a href="#">Read More <span class="fa fa-long-arrow-right"></span></a>
					</div>
				</div>
				<div class="col-md-6">
					<div class="packages_left1">
						
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
			
			<div class="package_bottom_grid">
				<div class="col-md-6">
					<div class="packages_left2">
						
					</div>
				</div>
				<div class="col-md-6">
					<div class="packages_right packages_right2">
						<h3>Modern Museum Art</h3>
						<h4>Starts from $210</h4>
						<p>Lorem ipsum dolor sit amet, con sectetur adipiscing elit. Proin sed ligula 
						ac metus finibus hendrerit sed at libero. Praesent reiciendis voluptatibus maiores alias.</p>
						<a href="#">Read More <span class="fa fa-long-arrow-right"></span></a>
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>	
</section>	
