<!-- contact -->		
<section class="contact" id="contact">
	<div class="container"> 
		<h3 class="heading header-info">Contact Us</h3>
		<div class="contact-agileinfo">
			<div class="col-md-7 contact-right"> 
				<form action="#" method="post">  
					<input type="text" name="Name" placeholder="Name" required="">
					<input type="email" class="email" name="Email" placeholder="Email" required="">
					<input type="text" name="Phone no" placeholder="Phone" required="">
					<textarea name="Message" placeholder="Message" required=""></textarea>
					<input class="submit-info" type="submit" value="SUBMIT" > 
				</form>
			</div> 
			<div class="col-md-5 contact-left">
				<div class="address">
					<h5>Address:</h5>
					<p><i class="glyphicon glyphicon-home"></i> New Town, Kolkata, INDIA</p>
				</div>
				<div class="address address-mdl">
					<h5>Phones:</h5>
					<p><i class="glyphicon glyphicon-earphone"></i> +91 9635499033</p>
					<p><i class="glyphicon glyphicon-phone"></i>+91 7699677158</p>
				</div>
				<div class="address">
					<h5>Email:</h5>
					<p><i class="glyphicon glyphicon-envelope"></i> <a href="mailto:anupghosh9635@gmail.com">anupghosh9635@gmail.com</a></p>
					<p><i class="glyphicon glyphicon-globe"></i> <a href="mailto:website@example.com">travelJourny
                        .com</a></p>
				</div>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
</section>
<section class="agileits-w3layouts-map">
	<!-- <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3023.9503398796587!2d-73.9940307!3d40.719109700000004!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c25a27e2f24131%3A0x64ffc98d24069f02!2sCANADA!5e0!3m2!1sen!2sin!4v1441710758555" allowfullscreen></iframe> -->
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3683.921643069012!2d88.4472209145915!3d22.582033785178005!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a0275f2f9a3aa39%3A0x7a9f72a6b68e74fe!2sDLF%201Tower%20Newtown!5e0!3m2!1sen!2sin!4v1588444579660!5m2!1sen!2sin" allowfullscreen></iframe>
		<!-- <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3683.921643069012!2d88.4472209145915!3d22.582033785178005!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a0275f2f9a3aa39%3A0x7a9f72a6b68e74fe!2sDLF%201Tower%20Newtown!5e0!3m2!1sen!2sin!4v1588444579660!5m2!1sen!2sin" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe> -->
</section>
<!-- //contact -->	