<section class="mbr-section content4 cid-qwYTGS06Eb" id="content4-9" data-rv-view="977">
    <div class="container" style="margin-top: -30px;">
        <div class="media-container-row">
            <div class="title col-12 col-md-8">
                <h2 class="align-center pb-3 mbr-fonts-style display-2">
                    Welcome to Travel Journey ! </h2>
            </div>
        </div>
    </div>
</section>



<section class="cid-qwYSQ4CzZl" id="image1-8" data-rv-view="979" style="padding-top:0px">
    <figure class="mbr-figure container">
        <div class="image-block" style="width: 80%;">
            <img src="assets/images/alexandre-godreau-188906.jpg" width="1400" alt="Mobirise" title=""
                media-simple="true">

        </div>
    </figure>
</section>





<section class="mbr-section content4 cid-qwYTGS06Eb" id="content4-9" data-rv-view="977">
    <div class="container">
        <div class="media-container-row">
            <div class="title col-12 col-md-8">
                <h2 class="align-center pb-3 mbr-fonts-style display-2">
                    Explore the world!</h2>
                <h3 class="mbr-section-subtitle align-center mbr-light mbr-fonts-style display-5">We'll take care of
                    everything else.</h3>

            </div>
        </div>
    </div>
</section>

<section class="features3 cid-qwYWjewzYp" id="features3-a" data-rv-view="981">
    <div class="container">
        <div class="media-container-row">
            <div class="card p-3 col-12 col-md-6 col-lg-4">
                <div class="card-wrapper">
                    <div class="card-img">
                        <img src="assets/images/jeremy-bishop-262140.jpg" alt="Mobirise" title="" media-simple="true">
                    </div>
                    <div class="card-box">
                        <h4 class="card-title  display-5">Experienced Guides</h4>
                        <p class="mbr-text mbr-fonts-style display-7">
                            In Iceland at every step there are hot pools, not to swim in which it is sinful.
                        </p>
                    </div>

                </div>
            </div>

            <div class="card p-3 col-12 col-md-6 col-lg-4">
                <div class="card-wrapper">
                    <div class="card-img">
                        <img src="assets/images/isabella-juskova-100383.jpg" alt="Mobirise" title=""
                            media-simple="true">
                    </div>
                    <div class="card-box">
                        <h4 class="card-title mbr-fonts-style display-5">
                            Choose your Tour</h4>
                        <p class="mbr-text mbr-fonts-style display-7">
                            Since Iceland is a developed and progressive country, you can do without cash.
                        </p>
                    </div>

                </div>
            </div>

            <div class="card p-3 col-12 col-md-6 col-lg-4">
                <div class="card-wrapper">
                    <div class="card-img">
                        <img src="assets/images/john-salvino-317388.jpg" alt="Mobirise" title="" media-simple="true">
                    </div>
                    <div class="card-box">
                        <h4 class="card-title mbr-fonts-style display-5">
                            Chargers Available</h4>
                        <p class="mbr-text mbr-fonts-style display-7">On the western fjords there is the most difficult
                            and picturesque road.<br></p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>




<!-- gallery -->



<div class="gallery" id="gallery">  
    <div class="container"> 
        <h3 class="w3ls-title align-center gallary-font">Our Gallery</h3>
        <div class="gallery-agileinfo">
            
            <div class="col-lg-4 col-sm-6 w3gallery-grids">
                <a href="assets/images/welcome/g1.jpg" class="imghvr-hinge-right figure">
                    <img src="assets/images/welcome/g1.jpg" alt="" title="Travel Adventure Image"> 
                    <div class="agile-figcaption">
                      <h4>High Mountain</h4>
                      <p>Phasellus elementum ullamcorper urna, eu rhoncus.</p>
                    </div>
                </a> 
            </div> 
            <div class="col-lg-4 col-sm-6 w3gallery-grids">
                <a href="assets/images/welcome/g2.jpg" class="imghvr-hinge-right figure">
                    <img src="assets/images/welcome/g2.jpg" alt="" title="Travel Adventure Image"> 
                    <div class="agile-figcaption">
                      <h4>Climb Mountain</h4>
                      <p>Phasellus elementum ullamcorper urna, eu rhoncus.</p>
                    </div>
                </a> 
            </div>
            <div class="col-lg-4 col-sm-6   w3gallery-grids">
                <a href="assets/images/welcome/g3.jpg" class="imghvr-hinge-right figure">
                    <img src="assets/images/welcome/g3.jpg" alt="" title="Travel Adventure Image"> 
                    <div class="agile-figcaption"> 
                      <h4> Mountain Ocean</h4>
                      <p>Phasellus elementum ullamcorper urna, eu rhoncus.</p>
                    </div>
                </a> 
            </div>
            <div class="col-lg-4 col-sm-6 w3gallery-grids">
                <a href="assets/images/welcome/g4.jpg" class="imghvr-hinge-right figure">
                    <img src="assets/images/welcome/g4.jpg" alt="" title="Travel Adventure Image"> 
                    <div class="agile-figcaption">
                      <h4>Forest Adventure</h4>
                      <p>Phasellus elementum ullamcorper urna, eu rhoncus.</p>
                    </div>
                </a> 
            </div>
            <div class="col-lg-4 col-sm-6 w3gallery-grids">
                <a href="assets/images/welcome/g5.jpg" class="imghvr-hinge-right figure">
                    <img src="assets/images/welcome/g5.jpg" alt="" title="Travel Adventure Image"> 
                    <div class="agile-figcaption">
                      <h4>Sky Dive</h4>
                      <p>Phasellus elementum ullamcorper urna, eu rhoncus.</p>
                    </div>
                </a> 
            </div> 
            <div class="col-lg-4 col-sm-6 w3gallery-grids">
                <a href="assets/images/welcome/g6.jpg" class="imghvr-hinge-right figure">
                    <img src="assets/images/welcome/g6.jpg" alt="" title="Travel Adventure Image"> 
                    <div class="agile-figcaption">
                      <h4>Photo Adventure</h4>
                      <p>Phasellus elementum ullamcorper urna, eu rhoncus.</p>
                    </div>
                </a> 
            </div> 
            <div class="clearfix"> </div>
        </div> 
    </div>
</div>