
<!-- About section -->
<section class="about" id="about">
	<div class="container">
		<h3 class="heading">About Us</h3>
		<div class="col-md-5 about_left">
			
		</div>
		<div class="col-md-7 about_right">
			<h3>Welcome to our travel Journey</h3>
			<h4>Enjoy your dream vocation with us. Our Travel Journey is Safe way to reach your destination</h4>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod temporinc 
				ididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.
				Curabitur at arcu eget erat ornare suscipit quis ac nunc. Vestibulum eget mi sed eros elementum pretium. 
				Sed et porttitor neque. Sed tristique sapienvellacus tincidunt consectetur ipsum. </p>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
				incididunt ut labore et dolore magna aliqua. Curabitur at arcu eget erat ornare suscipit quis ac nunc.
				Vestibulum eget mi sed eros elementum pretium.</p>
			<ul>
				<!-- <li><a href="#"  data-toggle="modal" data-target="#myModal" class="w3ls_more" >Read More</a></li> -->
				<li><a href="contact" class="w3l scroll">Contact Us</a></li>
			</ul>
		</div>
		<div class="clearfix"></div>
		
	</div>
</section>
<!-- //About section -->