<!-- <app-package-info></app-package-info>



<app-recent-trip-info></app-recent-trip-info> -->

<!-- <app-search-menu></app-search-menu> -->


<app-summary-info></app-summary-info>


<!-- 

<div class="container">
    <div class="row">
        <div class="col-sm-2" style="margin-bottom: 2em;">
            <h5 class="heading-grid">Top Holiday Destinations</h5>
            <a class="rounde-button" target="_blank" href="/tour-packages/munnar">Manali</a>
            <a class="rounde-button" target="_blank" href="/tour-packages/munnar">Kerala</a>
            <a class="rounde-button" target="_blank" href="/tour-packages/munnar">Gantok</a>
            <a class="rounde-button" target="_blank" href="/tour-packages/munnar">Munnar</a>
        </div>
        <div class="col-sm-8">



            <div class ="summery-view" >
                <div class="row outlet-view" style="position:relative;">
                    <div class="col-sm-4">
                        <img alt="Astounding Dubai Honeymoon Package" src="https://img.traveltriangle.com/attachments/pictures/856904/original/Goa-beach-fun.jpg">
                    </div>
                    <div class="col-sm-5">
                        <h4 class="fw9 ">Fun ‘n’ Frolic Goa Family Holiday Package</h4>
                        
                        <span class="day-view-summery">
                            5 Days &amp; 4 Nights | 4 Cities
                        </span>
                        <div> 
                            <span class="fs14 agency-color"> Anup TravelAgency </span>
                            <app-rating [rating]='statRatingValue'></app-rating>
                        </div>
                        <div class="" >
                            <h5 class="fw6">DESTINATIONS</h5>
                            <div>
                                Delhi | Mumbai | Goa | Panaji
                            </div>
                        </div>
                        
                        <div class="" >
                            <h5 class="fw6">INCLUSIONS</h5>
                            <span *ngFor="let product of iconList">
                                <span class="click-to-top">
                                    <img  style="max-width: 30px;" title="Test title" src={{product}} /> &nbsp;
                                </span>
                            </span>
                        </div>
                        
                    </div>
                    <div class="col-sm-3">
                        <div class="rounde-btn-type">HONEYMOON SPECIAL</div>
                        <h5 style="margin-top: 4px; margin-bottom: 3px;">Starting from: </h5>
                        
                        <span class="green f20 fw8" >
                            {{100 | currency:'INR':'symbol':'2.2-2'}}
                        </span>
                        <span class="f20 fw8" >
                          <del>  {{120 | currency:'INR':'symbol':'2.2-2'}}</del>
                        </span>
                        <div class="fs12"> 
                            Per person on twin sharing basis
                        </div>
                        <input class="details-button" type="button" value="View Details" [routerLink]="['/product', 10]" >
                        <input class="submit-info" type="submit" value="Book Info" >  
                    </div>
                </div>
            </div>


            <div class ="summery-view" >
                <div class="row outlet-view" style="position:relative;">
                    <div class="col-sm-4">
                        <img alt="" src="https://img.traveltriangle.com/attachments/pictures/888638/original/cover9.jpg">
                    </div>
                    <div class="col-sm-5">
                        <h4 class="fw8">Astounding Dubai Honeymoon Package</h4>
                        <span class="day-view-summery">
                            6 Days &amp; 5 Nights | 4 Cities
                        </span>
                        <div class="" >
                            <h5 class="fw6">DESTINATIONS</h5>
                            <div>
                                Delhi | Mumbai | Goa | Panaji
                            </div>
                        </div>
                        <div class="" >
                            <h5 class="fw6">INCLUSIONS</h5>
                            <span *ngFor="let product of iconList">
                                <img style="max-width: 30px;" src={{product}} /> &nbsp;
                            </span>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="rounde-btn-type">Family</div>
                        <h5>Starting from: </h5>
                        
                        <span class="green f20 fw8" >
                            {{100 | currency:'INR':'symbol':'2.2-2'}}
                        </span>
                        <span class="f20 fw8" >
                          <del>  {{120 | currency:'INR':'symbol':'2.2-2'}}</del>
                        </span>
                        
                        <input class="details-button" type="button" value="View Details" routerLink="/details" >
                        <input class="submit-info" type="submit" value="Book Info"> 
                    </div>
                </div>
            </div>





            <div class ="summery-view" >
                <div class="row outlet-view" style="position:relative;">
                    <div class="col-sm-4">
                        <img alt="" src="https://img.traveltriangle.com/attachments/pictures/871847/original/A_temple_in_Bali.jpg">
                    </div>
                    <div class="col-sm-5">
                        <h4 class="fw8">Spectacular Bali Honeymoon Package</h4>
                        <span class="day-view-summery">
                            5 Days &amp; 4 Nights | 4 Cities
                        </span>
                        <div class="" >
                            <h5 class="fw6">DESTINATIONS</h5>
                            <div>
                                Delhi | Mumbai | Goa | Panaji
                            </div>
                        </div>
                        <div class="" >
                            <h5 class="fw6">INCLUSIONS</h5>
                            <span *ngFor="let product of iconList">
                                <img style="max-width: 30px;" src={{product}} /> &nbsp;
                            </span>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="rounde-btn-type">Family</div>
                        <h5>Starting from: </h5>
                        
                        <span class="green f20 fw8" >
                            {{100 | currency:'INR':'symbol':'2.2-2'}}
                        </span>
                        <span class="f20 fw8" >
                          <del>  {{120 | currency:'INR':'symbol':'2.2-2'}}</del>
                        </span>
                        
                        <input class="details-button" type="button" value="Add to cart" routerLink="/details" >
                        <input class="submit-info" type="submit" value="Book Now" > 
                    </div>
                </div>
            </div>



            <div class ="summery-view" >
                <div class="row outlet-view" style="position:relative;">
                    <div class="col-sm-4">
                        <img alt="Astounding Dubai Honeymoon Package" src="https://img.traveltriangle.com/attachments/pictures/856955/original/A-Goa-beach-Holiday.jpg">
                    </div>
                    <div class="col-sm-5">
                        <h4 class="fw8">Romantic Goa Honeymoon Package: Dolphin Spotting & Beach Walks</h4>
                        <span class="day-view-summery">
                            4 Days &amp; 3 Nights | 3 Cities
                        </span>
                        <div class="" >
                            <h5 class="fw6">DESTINATIONS</h5>
                            <div>
                                Delhi | Mumbai | Goa 
                            </div>
                        </div>
                        <div class="" >
                            <h5 class="fw6">INCLUSIONS</h5>
                            <span *ngFor="let product of iconList">
                                <img style="max-width: 30px;" src={{product}} /> &nbsp;
                            </span>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="rounde-btn-type">Family</div>
                        <h5>Starting from: </h5>
                       
                        <span class="green f20 fw8" >
                            {{100 | currency:'INR':'symbol':'2.2-2'}}
                        </span>
                        <span class="f20 fw8" >
                          <del>  {{120 | currency:'INR':'symbol':'2.2-2'}}</del>
                        </span>
                        <div> 
                            per person on twin sharing basis
                        </div>
                        <input class="details-button" type="button" value="View Details" routerLink="/details">
                        <input class="submit-info" type="submit" value="Book Info" > 
                    </div>
                </div>
            </div>

      
                <div class="row outlet-view">
                    <div class="col-sm-4">
                        <img alt="Astounding Dubai Honeymoon Package" src="https://img.traveltriangle.com/attachments/pictures/888638/original/cover9.jpg">
                    </div>
                    <div class="col-sm-4">
                         <h5>Title description, Sep 2, 2017</h5>
                    </div>
                    <div class="col-sm-4">
                        <p>Some text..</p>
                        <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
                    </div>
                </div>
            </div> 




        </div>

        <div class="col-sm-2">

            Add sence

        </div>

    </div>
</div> -->