<div class="container">
    <div id="loginbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="panel-title">Sign Up</div>
                <div style="float:right; font-size: 80%; position: relative; top:-10px"><a href="#">Forgot password?</a>
                </div>
            </div>
            <div style="padding-top:30px" class="panel-body">
                <div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>
                <form id="loginform" class="form-horizontal" role="form">


                    <div class="form-group" style="margin: 1px; margin-bottom: 25px">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-user"></i></span>
                            <input type="text" class="form-control" name="username" placeholder="First Name"
                                required="required">
                        </div>
                    </div>
                    <div class="form-group" style="margin: 1px; margin-bottom: 25px">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-user"></i></span>
                            <input type="text" class="form-control" name="username" placeholder="Last Name"
                                required="required">
                        </div>
                    </div>

                    <div class="form-group" style="margin: 1px; margin-bottom: 25px">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-paper-plane"></i></span>
                            <input type="email" class="form-control" name="email" placeholder="Email Address"
                                required="required">
                        </div>
                    </div>

                    <!-- <div style="margin-bottom: 25px" class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                        <input id="login-password" type="password" class="form-control" name="password"
                            placeholder="password">
                    </div> -->

                    <div class="form-group" style="margin: 1px; margin-bottom: 25px">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fas fa-mobile-alt"></i></span>
                            <input type="text" class="form-control" name="password" placeholder="Phone No"
                                required="required">
                        </div>
                    </div>

                    <div class="form-group" style="margin: 1px; margin-bottom: 25px">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fas fa-calendar"></i></span>
                            <span>Date Of Birdth </span>
                            <input type="date" class="form-control" name="password" placeholder="Date Of Birdth"
                                required="required">
                        </div>
                    </div>

<!-- 
                    <div class="form-group" style="margin: 1px; margin-bottom: 25px">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="far fa-calendar"></i></span>
                            <div class="form-row form-row-date">
                                <div class="form-holder form-holder-2">
                                    <label class="special-label">Birth Date:</label>
                                    <select name="month" id="month">
                                        <option value="MM" disabled="" selected="">MM</option>
                                        <option value="16">16</option>
                                        <option value="17">17</option>
                                        <option value="18">18</option>
                                        <option value="19">19</option>
                                    </select>
                                    <select name="date" id="date">
                                        <option value="DD" disabled="" selected="">DD</option>
                                        <option value="Feb">Feb</option>
                                        <option value="Mar">Mar</option>
                                        <option value="Apr">Apr</option>
                                        <option value="May">May</option>
                                    </select>
                                    <select name="year" id="year">
                                        <option value="YYYY" disabled="" selected="">YYYY</option>
                                        <option value="2017">2017</option>
                                        <option value="2016">2016</option>
                                        <option value="2015">2015</option>
                                        <option value="2014">2014</option>
                                        <option value="2013">2013</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div> -->

                    <div class="form-group" style="margin: 1px; margin-bottom: 25px">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                            <input type="text" class="form-control" name="password" placeholder="Password"
                                required="required">
                        </div>
                    </div>
                    <div class="form-group" style="margin: 1px; margin-bottom: 25px">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="fa fa-lock"></i>
                                <i class="fa fa-check"></i>
                            </span>
                            <input type="text" class="form-control" name="confirm_password"
                                placeholder="Confirm Password" required="required">
                        </div>
                    </div>

                    <!-- 
                    <div class="input-group">
                        <div class="checkbox">
                            <label>
                                <input id="login-remember" type="checkbox" name="remember" value="1"> Remember me
                            </label>
                        </div>
                    </div> -->
                    <div class="form-group" style="margin: 1px; margin-bottom: 25px">
                        <label class="checkbox-inline"><input type="checkbox" required="required"> I accept the <a
                                href="#">Terms of Use</a> &amp; <a href="#">Privacy Policy</a></label>
                    </div>



                    <div style="margin-top:10px" class="form-group">
                        <!-- Button -->

                        <div class="col-sm-12 controls">
                            <a id="btn-login" href="welcome" class="btn btn-success">Sign Up </a>
                            <!-- <a id="btn-fblogin" href="#" class="btn btn-primary">Login with Facebook</a> -->

                        </div>
                    </div>


                    <div class="form-group">
                        <div class="col-md-12 control">
                            <div style="border-top: 1px solid#888; padding-top:15px; font-size:85%">
                                Don't have an account!
                                <a routerLink ="/login">
                                    Log In
                                </a>
                                <!-- <a href="#" onClick="$('#loginbox').hide(); $('#signupbox').show()">
                                    Sign Up Here
                                </a> -->
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>

<!-- 

<div class="signup-form" id ="test">
    <form action="/examples/actions/confirmation.php" method="post">
		<h2>Sign Up</h2>
		<p>Please fill in this form to create an account!</p>
		<hr>
        <div class="form-group">
			<div class="input-group">
				<span class="input-group-addon"><i class="fa fa-user"></i></span>
				<input type="text" class="form-control" name="username" placeholder="Username" required="required">
			</div>
        </div>
        <div class="form-group">
			<div class="input-group">
				<span class="input-group-addon"><i class="fa fa-paper-plane"></i></span>
				<input type="email" class="form-control" name="email" placeholder="Email Address" required="required">
			</div>
        </div>
		<div class="form-group">
			<div class="input-group">
				<span class="input-group-addon"><i class="fa fa-lock"></i></span>
				<input type="text" class="form-control" name="password" placeholder="Password" required="required">
			</div>
        </div>
		<div class="form-group">
			<div class="input-group">
				<span class="input-group-addon">
					<i class="fa fa-lock"></i>
					<i class="fa fa-check"></i>
				</span>
				<input type="text" class="form-control" name="confirm_password" placeholder="Confirm Password" required="required">
			</div>
        </div>
        <div class="form-group">
			<label class="checkbox-inline"><input type="checkbox" required="required"> I accept the <a href="#">Terms of Use</a> &amp; <a href="#">Privacy Policy</a></label>
		</div>
		<div class="form-group">
            <button type="submit" class="btn btn-primary btn-lg">Sign Up</button>
        </div>
    </form>
	<div class="text-center">Already have an account? <a href="/login">Login here</a></div> -->